body {
    margin: 0;
    background: #bbdefb;
}

main {
    position: relative;
    color: white;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.add {
    margin: 10px;
}

.add img {
    width: 30px;
    cursor: pointer;
    user-select: none;
}

.note {
    margin: 0;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    background: #2196f3;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.note h2 {
    margin: 0;
    font-size: 30px;
}

.note .noteContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.note .noteContainer img {
    margin: 0 10px;
    width: 30px;
    cursor: pointer;
    user-select: none;
}

.noteWindow {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background: #1976d2;
    position: absolute;
    top: 100px;
}

.addNote {
    width: 500px;
    right: calc(50% - 250px);
}

.addNote .noteName {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.addNote #desc {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

.addNote button {
    padding: 10px;
    color: white;
    background: #2196f3;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.delNote {
    width: 200px;
    right: calc(50% - 100px);
}

.delNote p {
    text-align: center;
}

.delNote .delButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.delNote button {
    padding: 10px;
    color: white;
    background: #2196f3;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.viewNote {
    width: 600px;
    right: calc(50% - 300px);
}

.viewNote .viewContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.viewNote .viewContainer img {
    width: 30px;
    cursor: pointer;
    user-select: none;
}

.viewNote .viewContainer h2 {
    margin: 0;
    text-align: center;
}

.viewNote p {
    text-align: justify;
}