* {
    margin: 0;
    padding: 0;
}
header {
    max-width: 1200px;
    background: #00695c;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
}
.siteName {
    margin: 20px;
}
.siteName h2 {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
}
nav {
    width: 100%;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline-block;
}
nav a {
    padding: 5px 20px;
    display: block;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    text-decoration: none;
    background: #003d33;
}
main {
    border-top: 2px solid #003d33;
    margin: 0 auto;
    max-width: 1200px;
    background: #00695c;
    padding: 20px;
}
main article {
    padding: 10px;
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
main article .textContainer {
    text-align: justify;
}