.container {
    width: 500px;
    height: 500px;
    background: gray;
    margin: 0 auto;
}
.figure {
    width: 200px;
    height: 150px;
    background: black;
    position: relative;
}
.figure .top_triangle {
    height: 0;
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid black;
    top: -50px;
    position: absolute;
}
.figure .bottom_triangle {
    height: 0;
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 50px solid black;
    top: 150px;
    position: absolute;
}
.figure.top {
    width: 50%;
    height: 50%;
}