body {
    background: #6bc6e5;
}

.todoList {
    margin: 0 auto;
    max-width: 1200px;
    height: 500px;
    background: white;
    border-radius: 20px;
}
.todoList .header {
    padding: 10px;
    text-align: center;
}
.todoList section {
    padding: 10px;
}

.todoList section input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.todoList section textarea {
    width: 100%;
    box-sizing: border-box;
}

.todoList section button {
    padding: 5px;
    border-radius: 5px;
    outline: none;
}