body {
    margin: 0;
    background: #bbdefb;
}
main {
    position: relative;
    color: white;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.add {
    margin: 10px;
}

.add img {
    width: 30px;
}

figure {
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    background: #2196f3;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

figure h2 {
    margin: 0;
    font-size: 30px;
}

figure .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

figure .container img {
    margin: 0 10px;
    width: 30px;
}

.addNote {
    padding: 10px;
    border: 1px solid black;
    width: 500px;
    background: #1976d2;
    position: absolute;
    top: calc(50%);
    right: calc(50% - 250px);
}

.addNote .noteName {
    margin-bottom: 10px;
    width: 100%;
}