@keyframes one {
    0% {
        margin-top: 0;
        margin-left: 0;
    }
    12% {
        transform: rotate(180deg);
        margin-top: calc(50vh - 300px);
        margin-left: calc(100% - 310px);
    }
    24% {
        transform: rotate(180deg);
        margin-top: calc(80vh - 310px);
        margin-left: 0;
     }
    36% {
        transform: rotate(180deg);
        margin-top: calc(100vh - 310px);
        margin-left: calc(50% - 300px);
    }
    48% {
        transform: rotate(180deg);
        margin-top: calc(70vh - 300px);
        margin-left: calc(100% - 310px);
    }
    60% {
        transform: rotate(180deg);
        margin-top: calc(50vh - 310px);
        margin-left: 0;
    }
    72% {
        transform: rotate(180deg);
        margin-top: 0;
        margin-left: calc(100% - 310px);
    }
}

.test {
    animation-name: one;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 300px;
    height: 300px;
    background: linear-gradient(to right, rebeccapurple 50%, aqua 50%);
    border-radius: 50%;
    position: relative;
}
