body {
    margin: 0;
}

main {
    margin: 0 auto;
    width: 1200px;
}

section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

article {
    padding: 10px;
    width: 20%;
    background: #00acc1;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}

.addPhone .addTitle {
    margin-top: 10px;
    text-align: center;
    width: 90%;
    background: #ffeb3b;
    display: inline-block;
}

.addPhone .addTitle h2 {
    font-size: inherit;
}

.addPhone .addBody {
    display: inline-block;
    text-align: left;
    padding: 10px;
    width: 90%;
    background: #ffeb3b;
    margin-top: 10px;
    box-sizing: border-box;
}

.addPhone .addBody input {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    outline: none;
}

.addPhone .addBody #desc {
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
    border-radius: 10px;
    outline: none;
}

.addPhone .addButton {
    margin: 10px 0 10px;
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
    text-align: right;
}

.addPhone .addButton button {
    padding: 10px;
    width: 40%;
    background: #ffeb3b;
    outline: none;
}

.phones {
    width: 55%;
}

.phones .phone {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 120px;
    background: #ffeb3b;
}

.phones .phone img {
    margin: 5px;
    width: 100px;
}

.phones .phone .detailsBtn {
    padding: 10px;
    width: 80px;
    color: white;
    background: #00acc1;
    outline: none;
}

.description .phoneHeader {
    width: 100%;
    text-align: left;
}

.description .phoneHeader img {
    width: 40%;
}

.description .phoneHeader .phoneInfo {
    width: 40%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    background: #ffeb3b;
}

.description .descriptionInfo {
    margin-top: 10px;
    background: #ffeb3b;
    padding: 10px;
    text-align: left;
    font-weight: normal;
}

