@font-face {
    font-family: "Headache";
    src: url("../fonts/Headache.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Rollfast";
    src: url("../fonts/rollfast/TTF/Rollfast-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}